body {
  background-color: #555;
  color: #fff;
  font-family: "Avenir Next", sans-serif;
  padding: 1em;
  text-align: center;
}

a {
  color: #fff;
}

.container {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.box {
  background-color: gray;
  border: 2px solid dimgray;
  border-radius: 10px;
  font-size: 200%;
  text-align: center;
  transition: filter .25s ease;
}

.box-content {
  left: 50%;
  padding: 1rem 0;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
}

.up {
  background-color: seagreen;
  border-color: green;
}

.down {
  background-color: crimson;
  border-color: firebrick;
}

.stocktitle {
  font-weight: bold;
}

.author {
  border-radius: 10px;
  border: 2px solid dimgray;
  bottom: 5vh;
  left: 50%;
  line-height: 10%;
  padding: 0 1em;
  position: fixed;
  transform: translate(-50%, 0);
}
