body {
  background-color: #555;
  color: #fff;
  font-family: "Avenir Next", sans-serif;
  padding: 1em;
  text-align: center;
}

a {
  color: #fff;
}

.container {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2vh;
}

.box {
  background-color: gray;
  border: 2px solid dimgray;
  border-radius: 10px;
  font-size: 200%;
  text-align: center;
  transition: filter .25s ease;
}

.box-content {
  left: 50%;
  padding: 1rem 0;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
}

.up {
  background-color: seagreen;
  border-color: green;
}

.down {
  background-color: crimson;
  border-color: firebrick;
}

.stocktitle {
  font-weight: bold;
}

.author {
  left: 50%;
  line-height: 10%;
  padding: 0 2em;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.about, .star {
  cursor: pointer;
  filter: opacity(0.5);
  transition: filter .25s ease;
}

.about:hover, .star:hover {
  filter: opacity(1);
}

.star {
  margin-right: .5em;
}

.toolbar {
  text-align: right;
  margin: .5em 1em 0 0;
}

#overlay {
  line-height: 10%;
  font-size: 150%;
  background-color: rgba(0,0,0,0.85); /* Black background with opacity */
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
